nav.inline-nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}

nav.inline-nav .menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav.inline-nav .menu > li {
  position: relative;
  padding: 0 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(203, 202, 202);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: max-content; /* dropdown as wide as it needs to be */
  min-width: 200px; /* dropdown has a minimum width */
  padding: 5px 0; /* Adds space inside dropdown */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.dropdown-content li {
  list-style: none; /* Ensures no bullets */
  padding: 0;
  margin: 0;
}
